/* Overrides the default ui-components styles with Detroit-specific styles. */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");

// All svg icons should be green.
.ui-icon svg {
  fill: $tailwind-primary-darker;
}

// The header logo should allow for a larger maximum height than the default
// logo.
.navbar-brand .logo .logo__image {
  min-height: 4rem;
  max-height: 5rem;
  @screen md {
    min-height: 6rem;
    max-height: 7rem;
  }
}

.hero__button,
.with_secondary a {
  width: 100%;
}

.navbar-brand .logo {
  max-height: 15rem;
  max-width: 100%;

  .logo__title {
    @apply text-sm;
  }
}

li.progress-nav__item,
h1.form-card__header_title {
  text-transform: capitalize;
}

// For the eligibility questionnaire, there are five headers, so give each 20% of the full navbar
// width. (If we reuse this class for other navigation UI elements, with a different number of
// navbar items, we'll need to refactor this.)
li.progress-nav__item {
  width: 20%;
}

// Body text should have normal font weight
.field-note {
  @apply font-normal;
}

Button.button.is-primary:hover,
a.button.is-primary:hover {
  @apply bg-primary-light;
  @apply text-black;
}

// Constrain the height of modals to 80% of the viewport
// and make them scrollable once that is exceeded.
.modal {
  max-height: 80vh;
  overflow-y: auto;
}

.loading-overlay__spinner circle {
  stroke: $tailwind-primary;
}

// Increase the font size of markdown sections.
.markdown-section__inner {
  @apply text-xl;
}

.hero {
  @apply font-bold;
  @apply rounded-2xl;
  @apply mx-4;
  @apply mb-4;
}

.hero__title {
  text-shadow: 0px 0px 20px black;

  // TODO: this next line is being overridden by Hero.scss. I feel like the definitions in this
  // overrides.scss file should (in the event of a direct conflict) override all ui-components
  // definitions?
  max-width: 35rem;
}

.hero__button {
  background-color: #ffbe42;
  padding: 12px;
  display: inline-block;
  margin-right: 0;
  font-size: large;
  color: black;
  border-radius: 15px;
  max-width: 100%;

  &:hover {
    @apply bg-primary;
    color: white;
  }
}

// TODO: For certain screen widths (e.g. 540px), the two hero buttons are aligned horizontally but
// should instead be stacked vertically.
.hero__container {
  background-color: white;
  opacity: 0.95;
  color: black;
  border-radius: 25px;
  padding: 30px;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
}

.hero__text {
  font-weight: 300;
  font-size: medium;
  padding-bottom: 30px;
}

.hero__button__first {
  margin-bottom: 1rem;
  width: 12rem;

  @screen sm {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-right-width: 1px;
  }

  &:focus {
    border-right-width: 0px;
  }
}
.hero__button__second {
  width: 12rem;
  
  @screen sm {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left-width: 1px;
  }

  &:focus {
    border-left-width: 0px;
  }
}
