.content-container {
  max-width: 1600px;
  @apply mx-auto;
}
.latest-listings {
  padding: 24px 0 0 0;
}

.coming-soon {
  padding: 16px;
  @screen md {
    display: grid;
    grid-auto-flow: column;
  }
}

.content-title {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0 0.5rem;
  @screen sm {
    padding: 0 1rem;
  }
}

$icon-small: 32px;
$icon-large: 40px;

.icon svg {
  fill: $tailwind-primary;
  height: $icon-small;
  width: $icon-small;

  @screen sm {
    height: $icon-large;
    width: $icon-large;
  }
}
.icon-space.title__text {
  margin-inline-start: 8px;
}
.title__text {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;

  @screen sm {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}
.region-background {
  margin-top: 32px;
  width: 100%;
  background-color: #f7f7f7;
}
.regions {
  @apply my-4;
  width: 100%;
  display: grid;

  justify-content: center;
}

.region {
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 14px 14px 0 0;
  @apply my-8;
  @apply mx-4;
  min-height: 170px;
  width: 100%;
  position: relative;
  // @screen md {
  //   width: 180px;
  //   // height: 107px;
  // }
}
.region:hover {
  opacity: 0.9;
}

.region__text {
  bottom: -2rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1rem;
  min-width: 260px;
  max-width: 480px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  @apply text-primary-dark;
}

.content2 {
  justify-content: center;
  @screen md {
    display: flex;
    flex-direction: row;
  }
}
