.content-container {
  max-width: 1600px;
  @apply mx-auto;
}
.latest-listings {
  padding: 24px 0 0 0;
}

.coming-soon {
  padding: 16px;
  @media (min-width: 950px) {
    display: grid;
    grid-auto-flow: column;
  }
}

.content-title {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0 0.5rem;
  @screen sm {
    padding: 0 1rem;
  }
}

$icon-small: 32px;
$icon-large: 40px;

.icon svg {
  fill: $tailwind-primary;
  height: $icon-small;
  width: $icon-small;

  @screen sm {
    height: $icon-large;
    width: $icon-large;
  }
}
.icon-space.title__text {
  margin-inline-start: 8px;
}
.title__text {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}
.region-background {
  margin-top: 32px;
  width: 100%;
  background-color: #f7f7f7;
}
.regions {
  @apply my-4;
  justify-content: center;
}

.region {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 250px;
  height: auto;
  min-height: 100%;
  overflow: hidden;
  @apply pt-8;
  @apply px-4;
  img {
    object-fit: cover;
    border-radius: 14px 14px 0 0;
    height: 100%;
    @apply pb-4;
    @media (min-width: 950px) {
      // min-width: 209px;
      // min-height: 130px;
    }
  }
  p {
    @apply pb-4;
  }
}
.region:hover {
  opacity: 0.9;
}

.region__text {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1rem;
  // max-width: 278px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @apply text-primary-dark;
  @media (min-width: 950px) {
    max-width: 209px;
  }
}

.content2 {
  justify-content: center;
  display: grid;
  @media (min-width: 950px) {
    grid-auto-flow: column;
  }
}
