.hero {
  @apply bg-primary-darker;
  @apply py-10;
  @apply px-5;
  @apply text-white;
  @apply text-center;
  @apply bg-cover;
  @apply font-bold;
  @apply rounded-2xl;
  @apply mx-4;
  @apply mb-4;

  @screen md {
    @apply py-20;
  }

  &.centered {
    background-position: center center;
  }
}

.hero__button {
  background-color: #ffbe42;
  padding: 12px;
  display: inline-block;
  width: 12rem;
  margin-right: 0;
  font-size: large;
  color: black;

  &:hover {
    @apply bg-primary;
    color: white;
  }
}

.hero__container {
  background-color:white;
  opacity: 0.95;
  color:black;
  border-radius: 25px;
  padding: 30px;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
}

.hero__text {
  font-weight: 300;
  font-size: medium;
  padding-bottom: 30px;
}

.hero__button__left {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-right-width: 1px;

  &:focus {
    border-right-width: 0px;
  }
}
.hero__button__right {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-left-width: 1px;

  &:focus {
    border-left-width: 0px;
  }
}

.hero__title {
  @apply text-4xl;
  @apply mb-5;
  @apply mx-auto;
  letter-spacing: -0.04em;
  max-width: 35rem;
  text-shadow: 0px 0px 20px black;

  @screen md {
    @apply text-6xl;
    @apply mb-8;
  }

  em {
    @apply not-italic;
    @apply underline;
    -webkit-text-decoration-color: $tailwind-warn;
    -moz-text-decoration-color: $tailwind-warn;
    text-decoration-color: $tailwind-warn;
  }
}

.hero__subtitle {
  @apply font-sans;
  @apply text-base;
  @apply text-gray-100;
  @apply mb-8;
  @apply mx-auto;
  max-width: 41rem;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);

  @screen md {
    @apply text-lg;
  }
}
